<script lang="ts" setup>
import { setLanguageFromStorage, syncTabs } from '~/utils'

setLanguageFromStorage()
syncTabs()
</script>

<template>
	<div class="app">
		<SyncTabsMode class="app__sync-tabs-mode" />
		<NuxtPage />
	</div>
</template>

<style>
* {
	margin: 0;
	padding: 0;
}

html {
	font-family: sans-serif;
}
</style>

<style scoped>
.app {
	position: relative;
}

.app__sync-tabs-mode {
	position: fixed;
	top: 24px;
	left: 24px;
	z-index: 10;
}
</style>
