<script lang="ts" setup>
import { ref } from 'vue'
import { useI18n } from 'vue-i18n'
import { sendMessageToOtherTabs } from '~/utils'

const LANGUAGES = [
	{
		title: 'English',
		value: 'en'
	},
	{
		title: 'Русский',
		value: 'ru'
	}
]
const i18n = useI18n()
const selectedLanguage = ref(i18n.locale)
const changeLanguage = (event: any) => {
	i18n.locale.value = event.target.value
	localStorage.setItem('language', event.target.value)
	sendMessageToOtherTabs({
		name: 'change-language',
		value: event.target.value
	})
}

</script>

<template>
	<select
		class="change-language"
		:value="selectedLanguage"
		@input="changeLanguage"
	>
		<option
			v-for="({ title, value }) in LANGUAGES"
			:key="value"
			:value="value"
		>
			{{ title }}
		</option>
	</select>
</template>
