<script lang="ts" setup>
import { useAppStore } from '~/store/app'
import { sendMessageToOtherTabs } from '~/utils'

const appStore = useAppStore()
const removeNote = (noteHash: number) => {
	const removingNoteIndex = appStore.notes.findIndex((note: any) => {
		return note.hash === noteHash
	})

	if (removingNoteIndex === -1) {
		return
	}

	appStore.notes.splice(removingNoteIndex, 1)
	sendMessageToOtherTabs({ name: 'remove-note', value: noteHash })
}
</script>

<template>
	<div class="notes">
		<div
			v-for="note in appStore.notes"
			:key="note.hash"
			class="notes__note"
		>
			<div class="notes__note-header">
				<p class="notes__note-date">
					{{ note.date.toLocaleString() }}
				</p>
				<p
					class="notes__note-remove"
					@click="removeNote(note.hash)"
				>
					{{ $t('notes.remove-note') }}
				</p>
			</div>
			<p class="notes__note-content">
				{{ note.content }}
			</p>
		</div>
	</div>
</template>

<style scoped>
.notes {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.notes__note {
	padding: 12px;
	border: 1px solid #000;
	border-radius: 12px;
}

.notes__note-header {
	margin-bottom: 12px;
	display: flex;
	justify-content: space-between;
	font-size: 12px;
}

.notes__note-remove {
	color: red;
	cursor: pointer;
}

.notes__note-content {
	line-height: 1.4;
	font-size: 14px;
}
</style>
