<script lang="ts" setup>
import { useAppStore } from '~/store/app'
import { sendMessageToOtherTabs } from '~/utils'

const MODS = [
	{
		title: 'Broadcast Channel',
		value: 'broadcast'
	},
	{
		title: 'Local Storage',
		value: 'storage'
	},
	{
		title: 'Service Worker',
		value: 'sw'
	}
]
const appStore = useAppStore()
const chooseSyncTabsMode = (mode: string) => {
	sendMessageToOtherTabs({ name: 'change-sync-tabs-mode', value: mode })
	appStore.syncTabsMode = mode
}
</script>

<template>
	<div class="sync-tabs-mode">
		<p class="sync-tabs-mode__title">
			{{ $t('sync-tabs-mode.title') }}
		</p>
		<div class="sync-tabs-mode__list">
			<p
				v-for="({ title, value }) in MODS"
				:key="value"
				class="sync-tabs-mode__list-item"
				:class="{ 'is-active':  appStore.syncTabsMode === value }"
				@click="chooseSyncTabsMode(value)"
			>
				{{ title }}
			</p>
		</div>
	</div>
</template>

<style scoped>
.sync-tabs-mode {
	padding: 12px 20px 16px;
	background-color: #fff;
	border: 1px solid #000;
	border-radius: 12px;
}

.sync-tabs-mode__title {
	margin-bottom: 8px;
	font-weight: 700;
}

.sync-tabs-mode__list {
	display: flex;
}

.sync-tabs-mode__list-item {
	margin-right: -1px;
	padding: 6px 12px;
	font-size: 14px;
	border: 1px solid #000;
	cursor: pointer;
}

.sync-tabs-mode__list-item.is-active {
	color: #fff;
	background-color: #000;
	pointer-events: none;
}

.sync-tabs-mode__list-item:first-child {
	border-radius: 8px 0 0 8px;
}

.sync-tabs-mode__list-item:last-child {
	border-radius: 0 8px 8px 0;
}
</style>
