<script lang="ts" setup>
import { computed } from 'vue'
import { useAppStore } from '~/store/app'
import { sendMessageToOtherTabs } from '~/utils'

const NOTES = [
	'Сила – не в бабках. Ведь бабки – уже старые.',
	'Из проведённых 64-х боёв у меня 64 победы. Все бои были с тенью.',
	'Взял нож - режь, взял дошик - ешь.',
	'Я живу, как карта ляжет. Ты живёшь, как мамка скажет.',
	'Никогда не сдавайтесь, идите к своей цели! А если будет сложно – сдавайтесь.',
	'Если заблудился в лесу, иди домой.',
	'Я вообще делаю что хочу. Хочу импланты — звоню врачу.',
	'Мы должны оставаться мыми, а они – оними.',
	'Делай, как надо. Как не надо, не делай.',
	'Работа — это не волк. Работа — ворк. А волк — это ходить.',
	'Как говорил мой дед, «Я твой дед»',
	'Слово - не воробей. Вообще ничто не воробей, кроме самого воробья.',
	'Жи-ши пиши от души.'
]

const appStore = useAppStore()
const hasNotes = computed(() => {
	return Boolean(appStore.notes.length)
})
const addRandomNote = () => {
	const date = new Date()
	const dateInMilliseconds = date.getTime()
	const randomNote = NOTES[Math.floor(Math.random() * NOTES.length)]
	const noteData = {
		date,
		hash: dateInMilliseconds,
		content: randomNote
	}

	// @ts-ignore
	appStore.notes.push(noteData)
	sendMessageToOtherTabs({ name: 'add-note', value: noteData })
}
</script>

<template>
	<div class="main-page">
		<img
			v-if="hasNotes"
			class="main-page__st"
			src="/st.jpg"
			alt="st"
		>
		<div class="main-page__content">
			<div class="main-page__title-wrapper">
				<h2>
					{{ $t('main-page.title') }}
				</h2>
				<ChangeLanguage />
			</div>
			<button
				class="main-page__add-random-note"
				@click="addRandomNote"
			>
				{{ $t('main-page.buttons.add-random-note') }}
			</button>
			<Notes v-if="hasNotes" />
			<p
				v-else
				class="main-page__empty-notes"
			>
				{{ $t('main-page.empty-notes') }}
			</p>
		</div>
	</div>
</template>

<style scoped>
.main-page {
	position: relative;
	display: flex;
	justify-content: center;
	min-height: 100vh;
}

.main-page__st {
	position: absolute;
	top: 16px;
	left: 50%;
	height: 148px;
	transform: translateX(-50%);
}

.main-page__content {
	padding-top: 184px;
	padding-bottom: 64px;
	width: 360px;
}

.main-page__title-wrapper {
	margin-bottom: 18px;
	display: flex;
	justify-content: space-between;
}

.main-page__add-random-note {
	margin-bottom: 24px;
	padding: 12px 16px;
	width: 100%;
	text-transform: uppercase;
	cursor: pointer;
}

.main-page__empty-notes {
	padding: 16px;
	text-align: center;
	font-size: 18px;
	border: 2px dashed #000;
	border-radius: 12px;
}
</style>
