<script lang="ts" setup>
import { ref } from 'vue'
import { useRouter } from 'vue-router'
import { sendMessageToOtherTabs } from '~/utils'

const EMAIL = 'admin@localhost.com'
const PASSWORD = 'admin'
const router = useRouter()
const emailInput = ref(null)
const passwordInput = ref(null)

const loginHandler = () => {
	const emailValue = emailInput!.value!.value
	const passwordValue = passwordInput!.value!.value

	if (emailValue !== EMAIL || passwordValue !== PASSWORD) {
		return
	}

	router.push({ name: 'index' })
	sendMessageToOtherTabs({ name: 'login' })
}
</script>

<template>
	<div class="login-page">
		<div class="login-page__form-wrapper">
			<div class="login-page__form-header">
				<ChangeLanguage />
			</div>
			<div class="login-page__form">
				<div class="login-page__form-input-wrapper">
					<p class="login-page__form-input-title">
						{{ $t('login-page.inputs.email') }}
					</p>
					<input
						ref="emailInput"
						class="login-page__form-input"
						type="text"
					>
				</div>
				<div class="login-page__form-input-wrapper">
					<p class="login-page__form-input-title">
						{{ $t('login-page.inputs.password') }}
					</p>
					<input
						ref="passwordInput"
						class="login-page__form-input"
						type="password"
					>
				</div>
				<button
					class="login-page__form-submit"
					@click="loginHandler"
				>
					{{ $t('login-page.buttons.login') }}
				</button>
			</div>
			<div class="login-page__correct-credentials">
				<p class="login-page__correct-credentials-item">
					{{ $t('login-page.inputs.email') }}: <b>{{ EMAIL }}</b>
				</p>
				<p class="login-page__correct-credentials-item">
					{{ $t('login-page.inputs.password') }}: <b>{{ PASSWORD }}</b>
				</p>
			</div>
		</div>
	</div>
</template>

<style scoped>
.login-page {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
}

.login-page__form-wrapper {
	padding: 16px 24px 20px;
	width: 320px;
	border: 1px solid #000;
	border-radius: 12px;
}

.login-page__form-header {
	margin-bottom: 12px;
	display: flex;
	justify-content: flex-end;
}

.login-page__form-input-wrapper {
	margin-bottom: 8px;
}

.login-page__form-input-title {
	margin-bottom: 6px;
	font-size: 14px;
	font-weight: 700;
}

.login-page__form-input {
	padding: 4px 6px;
	width: 100%;
	box-sizing: border-box;
}

.login-page__form-submit {
	margin-top: 10px;
	padding: 8px 16px;
	width: 100%;
	font-size: 12px;
	text-transform: uppercase;
	cursor: pointer;
}

.login-page__correct-credentials {
	margin-top: 24px;
	padding: 16px;
	border: 2px dashed #000;
	border-radius: 12px;
}

.login-page__correct-credentials-item {
	margin-bottom: 4px;
}

.login-page__correct-credentials-item:last-child {
	margin-bottom: 0;
}
</style>
